# **Chapter 2: Collections**
Collections are datatypes that store multiple values/data into a single variable.
For example:

```python
days = ['mon', 'tues', 'wed', 'thurs', 'fri']
personal_info = {'Name': 'Matthew', 'Age': 30}
place = 'Los Angeles'
```
The 4 most common collections are `String`, `List`, `Tuple` and `Dictionary`
* strings (collection of characters) 
* lists (collection of values)
* tuples (collection of values)
* dictionaries (collection of key value pairs) 

| Collection Type | Brackets | 
| - | - |
| Strings | `" "` or `' '` |
| Lists | `[ ]` |
| Tuples | `( )` |
| Dictionary | `{ }` |

Content adapted from `Hackwagon Academy`

## 2.1 String Manipulation
To manipulate strings, we have to understand the term `indexing`.

#### 2.1.1 Indexing

`Indexing` is the accessing of the subset of a collection. Indexing is done via a `[]` next to the value you want to index

For example:
```python
name = 'Peter!'
print(name[0])
```
Output
    
    P'
    
Note that indexing always starts with `0` 

There are 2 ways of doing indexing: **Positive** and **Negative** indexing.
<img src="https://i.imgur.com/0DJmGBw.png" width="500"/>

From above example, to obtain the alphabet 't', there are 2 ways to obtain it

```python
first = name[2]
second = name[-4]
print(first)
print(second)
```

Output 
    
    t
    t

#### Try it out #1
Given the following `name`, extract the letter `w` from the `name` using positive indexing and negative indexing

In [ ]:
name = 'Andrew Tan'
#write your code below

#### 2.1.2 Slicing
You can abstract multiple characters together from a string to form another string using `slicing`.

For example given a `dna_sequence` below, you can obtain the codon of 'GTG' using `slicing`
``` python
dna_sequence = 'ACCGTGCGC'
codon = dna_sequence[3:6]
print(codon)
```

Output
    
    GTG
    
You can retrieve more than 1 value from a collection by using `[start:stop]`.
`stop` is the index of the character exclusive of it. From above example, GTG is located from position 3 to 5. 6 is the character after the G so it is to be placed as the index for `stop`.

If you want to obtain the codon 'ACC' you can use the 
```python
codon = dna_sequence[:3]
```

`[:3]` means from the very first character to the character in index 2. Similarly, `[3:]`means from the character in index 3 to the rest of the string.

#### Try it out #2
Given the `dna_sequence`, extract the codon 'GTA' using slicing.

In [ ]:
dna_sequence = 'ACCGTAGCC'
#write your code below

#### 2.1.3 Skipping Values

You can get every nth item in a list by using `[start:stop:steps]`

For example:

```python

comment = 'Awesome!'
print(comment[-5::3])

```
Output

    se

#### Try it out #3
In this puzzle, every alphabet is separated by random characters . Your task is to extract out the message.

In [ ]:
puzzle = 'A$%n$#a!$t*@a'
#write your code below

## 2.2 Lists
`Lists` allow us to hold **multiple values** in a single container.

For example, you can store a list of names to a single container variable named `name_list`

```Python
name_list = ['Alex', 'Peter', 'Thomas','Jane','Judy', 'Lena']
```

**Accessing elements in a list**

Single element (with indexing)<br>
A sub-list (with slicing)<br>
Just like a string!

Example:

```Python
name_list = ['Alex', 'Peter', 'Thomas','Jane','Judy', 'Lena']
boy_list = name_list[:3]
girl_list = name_list[3:]
first_name = name_list[0]
print('Boys:',boy_list)
print('Girls:',girl_list)
print('First person:', first_name)
```

Output
    
    Boys: ['Alex', 'Peter', 'Thomas']
    Girls: ['Jane', 'Judy', 'Lena']
    First person: Alex

#### Try it out #4
Given the list of fruits below, extract all the fruits that are yellow in colour and print it to give the following outputs:

Expected output
    
    Yellow fruits: ['Banana', 'Lemon']

In [ ]:
fruits = ['Apple', 'Cherry', 'Orange','Banana','Lemon', 'Watermelon']
#Write your code below

**Changing values in list**

Example: Changing Alex to Simon in `name_list`

``` Python
name_list[0] = 'Simon'
print(name_list)
```

Output

    ['Simon', 'Peter', 'Thomas','Jane','Judy', 'Lena']

#### Try it out #5
Given the list of fruits below, replace `'Cherry'` to `'Grape'` and print out the new fruit list

Expected output
    
    ['Apple', 'Grape', 'Orange','Banana','Lemon', 'Watermelon']

In [ ]:
fruits = ['Apple', 'Cherry', 'Orange','Banana','Lemon', 'Watermelon']
#Write your code here

**Check if value exists in a list - `in`**
```Python
# check if Alex is in the namelist
print('Alex' in name_list)
# to check, the element must be exact
print('Jane' in name_list)
```

Output 

    False
    True

**Number of items in a list - len()**

```Python
weekdays = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
print('Numbers of weekdays :', len(weekdays))
```

Output
    
    Numbers of weekdays : 5

#### Try it out #6
Given the list of fruits, assuming the cost of each fruits are $2 each, making use of the `len()` function, calculate the total price of the fruits

Expected Output:

        $12

In [ ]:
fruits = ['Apple', 'Cherry', 'Orange','Banana','Lemon', 'Watermelon']
#Write your code here

**Adding elements to a list - `.append()`**

Adds an element to the list to end back of the list.
``` Python
week = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
week.append('Saturday')
week.append('Sunday')
print(week)
```
Output

    ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

Add a list to the end back of the list
``` Python
week = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
week.append(['Saturday', 'Sunday'])
print(week)
```
Output

    ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

**Removing a value from a list - `.remove()`**

The `.remove()` function removes the very first instance of <b>a given value</b>, from left to right of the list; index 0 to the last index of a list.

Example:Removing `Friday` from the list `weekdays`

```Python
weekdays.remove('Friday')
print(weekdays)
```
Output
    
    ['Monday', 'Tuesday', 'Wednesday', 'Thursday']


`.remove()` removes only the leftmost appearance of the value.

Example:

```Python
grades = ['A','B','B','D','A','B']
grades.remove('A')
print(grades)
```
Output:
    
    ['B', 'B', 'D', 'A', 'B']

**Deleting by index - `del`**

The <font color='green'><b>del</b></font> function removes a value based on its <b>index</b> 

Example: Deleting `Monday` from the list `weekdays`

```Python
weekdays = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
del weekdays[0]
print(weekdays)
```
Output
    
    ['Tuesday', 'Wednesday', 'Thursday', 'Friday']

#### Try it out #7
Given two list of items. Delete the items that do not belong to the list. 

Expected Output:

        stationaries = ['Pencil',''Eraser','Calculator','Ruler']
        furnitures: ['Chair','Cupboard','Sofa']

In [ ]:
stationaries = ['Pencil', 'Eraser','Calculator','Ruler','Table']
furnitures = ['Pen','Chair','Cupboard','Sofa']
# Write your codes below.

** `sorted()`**

`sorted()` sorts values in a list in ascending order on default and gives a new list of sorted values.
The parameter `reverse=True` is added to sort values in a list in descending order.

Example:

```Python
numbers = [4,7,1,3,5,9,8]
desc = sorted(numbers, reverse=True)
asc = sorted(numbers)
print(desc)
print(asc)
```

Output

    [9, 8, 7, 5, 4, 3, 1]
    [1, 3, 4, 5, 7, 8, 9]

## 2.3 Tuples
`Tuples` are just like lists and they are **immutable**.

In tuples, you use round brackets `()` instead of square brackets `[]`<br>
Accessing an element in a tuple is the same as that of a list.<br>
The values in a tuple **cannot** be changed.

Example:

```Python
atuple = (1,2,3,4)
print(atuple[0])
```

Output:

      1

Try running the codes below. You will obtain an error

In [ ]:
atuple = (1,2,3,4)
atuple.append(5) # you will obtain an error
atuple.remove(1) # you will obtain an error

AttributeError: 'tuple' object has no attribute 'append'

**Converting `list` to `tuple`**

You can convert a list to a tuple by using `tuple()`

Example:
``` Python
scores = [8, 9 ,5]
scorestuple = tuple(scores)
scorestuple
```
Output: 
     
     (8, 9, 5)

## 2.4 Dictionaries

Dictionaries are characterized by `{}` and it contains multiple key-value pair.<br>
Each key is assigned to a value just like a normal dictionary, each word is assigned to a meaning. 

Example

```Python

height = {'Tom':185, 'Darren':180}

```
You will be learning the following based on the examples below:
1. Creating a dictonary
2. Accessing values based on keys
3. Updating values assigned to keys
4. Adding new key-value pair
5. Deleting key-value pair

#### Try it out #8
In this exercise, you will be performing the above 5 tasks by helping the teacher to consolidate the test scores for the students for the test.

#### #8a
**Creating a dictionary**

To create a dictionary, you have to create key-value pairs. The key and value is separated by a `:`. <br>
The teacher would like to create a test result database to record the students mark. The teacher has finished marking 3 students' test papers.<br>
Create a class database as follows using a dictionary.

|<center>Keys: Name</center>| <center>Values: Test Score</center> | 
|:---| :----------- |
|`Abigail`| `80`|
|`Alex`| `60`|
|`Betty`|`70`|

Expected output:
    
    {'Abigail':80, 'Alex':60, 'Betty':70}
    
**Note:** Each dictionary key is unique, you cannot have 2 of the same key with different values assigned to it

In [ ]:
#Type your code below

**Accessing values based on keys**
To access the value in a key-value pair, you have to call for the key.<br>
Example:
```Python
dic = {'Key1':'old value'}
print(dic['Key1']) 
```
Output: 

    old value

#### #8b
The teacher would like to access Abigail's mark.  Access Abigail's mark by calling for `Abigail`.

Expected output:

    80

In [ ]:
#Type your code below

**Updating the values assigned to keys**
To update the values assigned to keys, you have to redefine the key-value pair in the dictionary.

Example:
```Python
dic = {'Key1':'old value'}
dic['Key1'] = 'new value'
print(dic)
```
Output:

    {'Key1':'new value'}

#### #8c
The teacher realised that Alex's test is marked wrongly and he should be given 65 marks. Update the marks for Alex accordingly.

Expected output:
    
    {'Abigail':80, 'Alex':65, 'Betty':70}

In [ ]:
#Type your code below

**Adding new key-value pair to dictionary**
To add new key-value pair, you can just define a new key-value pair in the dictionary.

Example
```Python
dic = {'Key1':'old value'}
dic['Key2'] = 'value'
print(dic)
```
Output:

    {'Key1':'new value', 'Key2':'value'}

#### #8d
The teacher has marked the test for another student named 'Nicholas'and he scored 85 for the test.
Update the dictionary accordingly.

Expected output:
    
    {'Abigail':80, 'Alex':65, 'Betty':70, 'Nicholas':85}

In [ ]:
#Type your code below

**Deleting key-value pair**

To delete a key-value pair from a dictionary, use <font color='green'><b>del</b></font> function.

Example
```Python
dic = {'Key1':'new value', 'Key2':'value'}
del dic['Key2'] 
print(dic)
```
Output:

    {'Key1':'new value'}

#### #8e
The teacher realised that Nicholas is not from his class and would like to remove him from the dictionary.

Expected output:
    
    {'Abigail':80, 'Alex':65, 'Betty':70}

In [ ]:
#Type your code below

## 2.5 Nested Collections

Sometimes, by combining `dictionary` with `list` can help to organise data better. For example, the following data can be represented in a list of dictionaries with each eolumn title is the key of the dictionaries and each row represents each person's information.

| Name | Gender | Age  | 
| ---------|---------|---------| 
|Thomas|Male|21|
|James|Male|24|
|Jane|Female|22|

The above example can be written as follows:

```Python
personal_info = [ 
                  {'Name': 'Thomas',
                   'Gender' : 'Male',
                   'Age': 21},
                  {'Name': 'James',
                   'Gender' : 'Male',
                   'Age': 24},
                  {'Name': 'Jane',
                   'Gender' : 'Female',
                   'Age': 22}
                ]
                    
 ```